<footer id="layout-footer">
    <div>
        <p>
            &#169; POE'TRY'. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul id="list-footer">
                <li>
                    <a href="/">Home</a>
                </li>
                
            </ul>
        </nav>
    </div>
</footer>