<link rel="stylesheet" href="\css\topquote.css">

<div id="home-quote">
    <div id="top-quote">
        <p class="underline">Today's HOT <i class="fas fa-fire"></i></i> Quote</p>
        <div>
            <p>Tall Girls are Hot, Short Girls are cute
                -harry styles</p>
        </div>
    </div>
    
    <div id="top-quote">
        <p class="underline">Today's ICE <i class="fas fa-ice-cream"></i> Quote</p>
        <div>
            <p>Drop that Zero and get with the hero
                -vanilla ice
            </p>
        </div>
    </div>
    
    <div id="top-quote">
        <p class="underline">Today's RAIN <i class="fas fa-cloud-moon-rain"></i> Quote</p>
        <div>
            <p>Some people feel the rain, others get wet
                -Roger Miller
            </p>
        </div>
    </div>
    
    <div id="top-quote">
        <p class="underline">Today's ANGRY <i class="fas fa-angry"></i> Quote</p>
        <div>
            <p>When angry count 4, when very angry, Swear
                -mark twain
            </p>
        </div>
    </div>
</div>

