<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./css/styleshome.css">
        

    </head>
    <body>
        <!-- title -->
        <div id="container">


        <div id="title-App">
                <span class="title-text" id="POE">POE</span><br>
                <a href="" id="link-for-form"><span class="title-text" id="TRY" data-title="TRY">TRY</span></a>
        </div>

        </div>
        <div id="form-content">
            <form action="/users/create-session" method="POST">
                <div class="form-fields">
                    <input type="email" name="email" class="input-text" placeholder="email" required>
                    <input type="password" name="password" class="input-text" placeholder="Password" required>
                </div>
                <div class="form-fields">
                    <input class="input-text"value="LOGIN" type="submit">
                    <button class="input-text" id="signin">SIGNIN</button>
                </div>
            </form>
        </div>
        <div>
            <span id="footer-quote">
                <p style="margin-left: 2%;" id="foo"></p> 
            </span>

        </div>
        <script>
            var i=0;
            var txt="bad poetry springs from genuine feeling.~Oscar Wilde";
            var speed=60;
            function typeWriter() {
            if (i < txt.length) {
                document.getElementById("foo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            }
            typeWriter();

            var signinButton = document.getElementById("signin");
            signinButton.onclick = function () {
                location.href = '/users/sign-In';
            };
        </script>
        
    </body>
</html>