<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/signinstyle.css">
    </head>
    <body>
        <div id="for-quote">
            <span id="quote"></span>
        </div>
        <div id="sign-in-div">
            <form action="/users/create"method="POST" id="form">
                <input type="text" name="username" placeholder="Your name" class="inputs" required>
                
                <input type="email" name="email" placeholder="email" class="inputs" required>
                
                <input type="password" name="password" placeholder="password"class="inputs" required>
                
                <input type="password" name="confirm_password" class="inputs" placeholder="confirm password" required>
                
                <input type="submit" value="Sign-In" class="inputs" >

            </form>
        </div>
        


        <script>
            var i=0;
            var txt="Give Yourself some time, Come on in !!!";
            var speed=60;
            function typeWriter() {
            if (i < txt.length) {
                document.getElementById("quote").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            }
            typeWriter();

            
        </script>


    </body>
</html>