<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/homestyles.css">
    </head>
    <body>
        <header id="menu-bar">
            <div id="title-App">
                <span class="title-text" id="POE">POE</span><br>
                <a href="" id="link-for-form"><span class="title-text" id="TRY" data-title="TRY">TRY</span></a>
            </div>
            <div id="profilepic">
                <img src="./images/landscape-1626853973318-893.jpg" alt="idk" style="border-radius: 20px;"">
            </div>  
        </header> 

        <div id="writers-area">
            <div id= "writers-text">
                
                <form action="/posts/create" method="POST">
                <textarea name="content" cols="30" rows="4" placeholder="shuru karo!">
                </textarea>
                <input type="submit" value="POST">
                </form>
            </div>
            <div>
                <ul>
                    <% for (post of posts){%>
                        <li>
                            <%=post.content%>
                            <!-- <small>
                                <%= post.user%>
                            </small> -->
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
        
        <a href="/users/sign-out">Sign-out</a>

    </body>

</html>