body{
    margin: 0;
    padding: 0;
    background-image: url('../images/background-textures.webp');
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}
a{
    text-decoration: none;
}
::placeholder{
    color: #9e005c;
    text-align: center;
}


#container{
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
#title-App{
    border-radius: 20px;
    position: relative;
    height: auto;
    width: auto;
    background-color: #52074b;
}

.title-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 5rem;
    letter-spacing: 0.1cm;
    margin: 0;
    padding:0;
}
#POE{
    color:#9e005c;
}

#TRY{
    position: relative;
    color: #9e005c;
}
#TRY::before{
    content: attr(data-title);
    background:linear-gradient(hsl(0, 93%, 49%),#e0f009) ;
    position: absolute;
    height: fit-content;
    width: 0;
    transition: all 1s ease-in-out;
    color: transparent;
    background-clip: text;
    -webkit-background-clip:text ;
}

#TRY:hover::before{
    width:100%;
}


#form-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.form-fields{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


.input-text{
    background-color: #52074b;
    color:#9e005c;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 0;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 2px;
}
#footer-quote{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #9e005c;
    background-color: #52074b;
}